
        body {
            text-align: center;
            background: rgb(236,185,9);
        background: linear-gradient(90deg, rgba(236,185,9,0.980357108663778) 0%, rgba(240,207,55,1) 0%, rgba(244,203,119,1) 55%, rgba(222,151,24,1) 100%);
        color: #496323; /* Màu chữ #CEE6F3 */
        }
        
        h1 {
            font-weight: bold;
        }
        
        .indented {
            margin-left: 20px;
        }
        
        h2 {
            margin-top: 20px;
            font-size: 2rem;
        }
        
        p {
            font-size: 1.5em; /* Cỡ chữ bằng với H2 */
        }
        
        img {
            max-width: 700px;
            height: auto;
            margin-top: 20px;
            transition: transform 0.3s; /* Hiệu ứng chuyển động trong 0.3 giây */
            will-change: transform; /* Tối ưu hóa hiệu suất */
        }
        
        img:hover {
            transform: scale(1.1); /* Kích thước tăng lên 110% khi hover */
        }
   